@import "../../styles/list.scss";

$justify-content: center;
$colors__input:(
    item-normal: goldenrod,
    item-special: yellowgreen
);

.list__item {
    @extend .item;
    background-color: map-get($colors__input, item-normal );
    justify-content: $justify-content;
  }
  
  .list__item__special {
    @extend .item;
    background-color: map-get($colors__input, item-special );
    justify-content: $justify-content;
  }

.list__container
{
    position:relative;
    margin:0px;
    width:40%;
    vertical-align: top;
}