@import "../../styles/item.scss";
@import "../../styles/list.scss";

$justify-content: space-between;
$colors__input:(
    item-normal: #c2e7f0,
    item-special: #f0c2cd
);

.list__item {
  @extend .item;
  justify-content: $justify-content;
  background-color: map-get($colors__input, item-normal);
}

.list__item__special {
  @extend .item;
  justify-content: $justify-content;
  background-color: map-get($colors__input, item-special);
}
